/*Utility*/
.with-gutter {
  padding-left: 20px;
  padding-right: 20px;
}
.center-box {
  margin-left: auto;
  margin-right: auto;
}
/*https://gist.github.com/dopa/7952215*/
.color-cycle {
  background-color: hsla(65,50%,50%,0.2) !important
}
@-webkit-keyframes colors {
  0% {background-color: hsla(65,50%,60%,0.2)}
  15% {background-color: hsla(20,50%,60%,0.2)}
  30% {background-color: hsla(355,50%,60%,0.2)}
  45% {background-color: hsla(300,50%,60%,0.2)}
  60% {background-color: hsla(230,50%,60%,0.2)}
  75% {background-color: hsla(185,50%,60%,0.2)}
  90% {background-color: hsla(133,50%,60%,0.2)}
  100% {background-color: hsla(90,50%,60%,0.2)}
}
@-moz-keyframes colors {
  0% {background-color: hsla(65,50%,60%,0.2)}
  15% {background-color: hsla(20,50%,60%,0.2)}
  30% {background-color: hsla(355,50%,60%,0.2)}
  45% {background-color: hsla(300,50%,60%,0.2)}
  60% {background-color: hsla(230,50%,60%,0.2)}
  75% {background-color: hsla(185,50%,60%,0.2)}
  90% {background-color: hsla(133,50%,60%,0.2)}
  100% {background-color: hsla(90,50%,60%,0.2)}
}
@keyframes colors {
  0% {background-color: hsla(65,50%,60%,0.2)}
  15% {background-color: hsla(20,50%,60%,0.2)}
  30% {background-color: hsla(355,50%,60%,0.2)}
  45% {background-color: hsla(300,50%,60%,0.2)}
  60% {background-color: hsla(230,50%,60%,0.2)}
  75% {background-color: hsla(185,50%,60%,0.2)}
  90% {background-color: hsla(133,50%,60%,0.2)}
  100% {background-color: hsla(90,50%,60%,0.2)}
}
.color-cycle {
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: colors;
  -webkit-animation-timing-function: ease;
  -moz-animation-direction: normal;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: colors;
  -moz-animation-timing-function: ease
}

/*Common Helpers*/
.strip {
  clear: both;
  position: relative;
  z-index: 2;
  zoom: 1;
  min-height:350px;
  background:#fff;
}
.strip.tint{
  background-image: url(/images/dots.png);
}

div.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  width: 50%;
  position: relative;
  z-index: 2;
  opacity: 1;
  transform-style: preserve-3d;
}

.hero-blockquote {
  color:#fff;
}

.reference-link {
  position: absolute;
  bottom: 1px;
  right: 1px;
  font-style: italic;
  font-size: 0.8em;
}
blockquote {
  border-left-color: #6D6363;
}
/*Background Video*/
#video-bg {
  position: absolute; /*This fixes the issue with mobile; background not appearing during scroll..*/
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  zoom: 1;
}
.desktop #video-bg {position:fixed};
.container-for-video {
  background: #FFF;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-for-video video, .container-for-video img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.container-for-video img {
  z-index: 0;
}
.desktop.video #video-bg img { /*Modernizr class*/
  display: none;
}
.mobile.video #video-bg img {left:-470px;}
.tablet.video #video-bg img {left:-50px;}

@media only screen and (min-width: 680px) {
  .home section.hero {
    min-height: 500px;
  }
}

/*Section: History*/
.history-strip {
  height:800px;
}
ul.countdown {
  margin:0;
  list-style:none;
}
ul.countdown li {
  width:24%;
  display:inline-block;
  text-align:center;
}
ul.countdown li span {
  font-size: 42px;
  font-weight:bold;
}
.history-strip a.donate-button {
  background-color:#42BBD8;
}

/*Section: Metrics*/
.metrics-strip {
  background-color: #334B52;
  color:#9AABA7;
  min-height:700px;
}
@media only screen and (max-width: 348px) { .metrics-strip {padding-bottom:30px;}}
.metrics-strip a {
  color:#EF8188;
}
.metrics-strip .reference-link {
  color:#658285;
}
.metrics-strip b, .metrics-strip strong {
  color:#C0D6D1;
}
.metrics-strip .metric-container {
  position:relative;
}

.metrics-strip .circle-graph {
	margin: 30px auto;
  position:relative;
  width:150px;
  height:150px;
}
.metrics-strip .circle-graph p {
	text-align: center;
  padding: 16px;
  z-index: 100;
  line-height: 17px;
  width:150px;
}
.circle-graph canvas {
  position: absolute;
  top: 0;
  left:0;
}

/*Section: Message*/
.message-strip {
  min-height:600px;
  height:initial;
  color:#6D7B88;
  background: #fff url(/images/incubator.jpg) center center no-repeat;
  background-size: cover;
}

.message-strip a {
  color: #E91E63;
}

/*Section: Donate*/
.donate-strip{
  text-align:center;
  background:#fff url(/images/baby-hold-finger.jpg) center center no-repeat;
}

.donate-button {
  margin:0 auto;
}

.credits-strip {
  height:100px;
  min-height:initial;
}
